[submodule "zed-ros-wrapper"]
	path = zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper.git
[submodule "ros_deep_learning"]
	path = ros_deep_learning
	url = https://github.com/dusty-nv/ros_deep_learning.git
[submodule "hls_lfcd_lds_driver"]
	path = hls_lfcd_lds_driver
	url = https://github.com/ROBOTIS-GIT/hls_lfcd_lds_driver.git
[submodule "DynamixelSDK"]
	path = DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "dynamixel-workbench"]
	path = dynamixel-workbench
	url = https://github.com/ROBOTIS-GIT/dynamixel-workbench.git
